.app-nav {
    text-align: right;
    width: 46%;
    float: right;
    margin-top: 0px;    
}
@media (min-width:992px){
 .app-nav {
    text-align: right;
    width: 46%;
    float: right;
    margin-top: 0px;    
    }   
}
@media (min-width:768px){
 .app-nav {
    text-align: right;
    width: 46%;
    float: right;
    margin-top: 0px;    
    }   
}
@media (min-width:992px){
    .logo-container{ width: 24%;}
}
@media (min-width:768px){
   .logo-container{ width: 24%;}
}
@media (min-width:992px){
    .top-navbar{width:76%}
}
@media (min-width:1200px){
    .top-navbar{width:76%}
}
@media (min-width:768px){
    .top-navbar{width:76%}
}
.top-social-media-icons ul { margin-top: 10px;}
.pricing-tabber li { background: none;}

#loginForm .form-group,#signUpForm .form-group{
    margin-bottom: 0px;
}

/* ============================= PROFILE PIC CSS FIX =========================== */
.profile-userpic img{
    height:auto !important;
}
/* ============================= TIME PICKER CSS FIX =========================== */
.popover.bottom{
    z-index: 99999;
}
.overflow-scroll{
    overflow-x: scroll;
    overflow-y: hidden;
}
/* ============================= FORM GROUP CSS FIX =========================== */
.marginBottom0px{
   margin-bottom: 0px;
}
/*===============================custom css by amir================================*/
.font-green,.btn-link{
    color:#007bff !important;
}
.green{
    background-color:#007bff !important;
    border-color: #007bff !important;
}
.mb0{
    margin-bottom:0px !important;
}
.title{
    font-weight: bold;
    text-transform: uppercase;
}
.login,.page-header{
    background-color: #1f2023 !important;
}
.login .logo{
    margin-top:100px !important;
}
.login .content{
    border-radius:10px !important;
    padding:30px !important;
}
.login .content .form-group{
    margin-left:0px !important;
    margin-right:0px !important;
}
.login .content .form-control{
    background: transparent !important;
    color:#333 !important;
    border-color: #dedede !important;
    border-radius: 5px !important;
    padding:15px !important;
    height: 50px !important;
}
.login .content .forget-pass{
    margin-top: 0px;
    padding:0px !important;
}
.login .content .backtologin{
    padding-left:0px !important;
    padding-top:20px;
}
.login .content .btn{
    border-radius: 5px !important;
    padding:15px ;
    font-weight: bold !important;
}
.page-content{
    padding-top:0px 0px 0px 0px !important;
}
.page-breadcrumb{
    padding:0px !important;
}
.page-content .portlet {
    border-radius: 10px !important; 
    min-height: 670px !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
.page-content .page-title{
    margin-top: 20px !important
}
.page-content .page-title h1{
    color:#333 !important;
}
.page-sidebar {
    border-radius:0px !important;
    min-height: 738px !important;
}

#tree ul li a{
    color:#333 !important;
}
table.dataTable.no-footer{
    border-bottom:0px !important;
}
.delete{
    color:#c85c5c;
}
.page-container{
    padding:0px 20px 0px 0px !important;
}
.page-sidebar{
    background: #fff !important;
}
.page-sidebar .menu-title{
    padding:10px 10px;
    margin:0px;
    background:#dedede ;
    color:#333;
    border-radius:0px !important;
}

.page-sidebar ul .nav-item .main-link{
    color:#333;
}
.page-sidebar ul .nav-item:hover .main-link,.page-sidebar ul .nav-item.open .main-link{
    background: #333;
    color:#fff;
}
.page-sidebar ul .nav-item .main-link i, .page-sidebar ul .nav-item .main-link .arrow::before{
    color: #333 !important
}
.page-sidebar ul .nav-item:hover .main-link i,.page-sidebar ul .nav-item.open .main-link i,.page-sidebar ul .nav-item:hover .main-link .arrow::before,.page-sidebar ul .nav-item.open .main-link .arrow::before{
    color:#fff !important;
}
.page-sidebar .sub-menu li a{
    font-size:12px !important;
}
.page-sidebar .sub-menu li:hover a ,.page-sidebar .sub-menu li.open a{
    color:#333 !important;
}
.page-sidebar .sub-menu li.open a i, .page-sidebar .sub-menu li.open a .arrow::before ,.page-sidebar .sub-menu li:hover a i, .page-sidebar .sub-menu li:hover a .arrow::before {
    color:#333 !important;
}
#testing{
    
}



@media (max-width:520px){
     .login .logo{
        margin-top:50px !important;
        padding:0px !important;
     }
     .login .logo h1{
        margin:0px !important;
     }
     .login .content{
        padding:10px !important;
     }
     .page-sidebar {
        border-radius:10px !important;
        min-height: auto !important;
    }
    .page-content .portlet{
        min-height: auto !important
    }
}
@media (max-width:760px){
     .login .logo{
        margin-top:50px !important;
     }
     .page-sidebar {
        border-radius:10px !important;
        min-height: auto !important;
    }
    .page-content .portlet{
        min-height: auto !important
    }
}



.page-header.navbar{
    background-color: #007bff !important;
    border-color:  #007bff !important;
    box-shadow: 0px 0px 5px;
}

.page-logo a h1{
    color:#fff !important;
    text-transform: uppercase;
}
.page-logo a:hover{
    text-decoration: none;
}
.top-menu ul .get-date input{
    border-radius: 5px 0px 0px 5px !important;
}
.top-menu ul .get-date .reload{
    border-radius: 0px 5px 5px 0px !important;
}

.portlet-title .caption{
    color:#007bff !important;
}
.portlet-title .caption i{
    color:#007bff !important;
    font-size:20px !important;
}
.table thead tr th{
    padding:14px 10px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    border-right: none !important;
    border-left: none !important;
}
.table tbody tr td{
    padding:12px 10px !important;
    border-right: none !important;
    border-left: none !important;
}
.table tbody tr.odd td{
    background: #dedede !important
}