@media only screen and (min-width:1024px) {
	.container.features-inner {
		max-height:820px;	
	}
	.container.additional-inner{
		max-height:780px;		
	}
}
@media only screen and (max-width:1024px) {
	.nav > li > a{
		padding:10px 14px;
	}
}
@media only screen and (max-width:1120px) {}
@media only screen and (min-width: 991px) and (max-width: 1199px){	
	.benefits img{
		max-width:60%;
	}	
}
@media only screen and (min-width: 768px) and (max-width: 980px){
	.logo-container {
		width:100%;
		display:inline-block;
		float:left;
	}
	#logo{float:left;}
	.app-nav {
		margin-top:20px;
	}
	.nav-respons{display:none;}
	#navigation {
		width:100%;
		float:right;
		text-align:right;
	}
	.top-social-media-icons {
		float: left;
		margin-top: 10px;
		width: 245px;
	}
	.navbar-nav{margin:0;}
	.navbar-nav.navbar-right:last-child{margin-right:-10px !important;}
	.is-sticky .is-sticky .app-nav{
		display:none;
	}
	.is-sticky .is-sticky #topnav{float:right;}
	
	.is-sticky .is-sticky .logo-container {
		width:auto;
		display:inline-block;
		float:left;
	}
	.is-sticky .is-sticky #navigation {
		width:auto;
		float:right;
		text-align:right;
		margin: 25px 0 0;
	}
}
@media only screen and (max-width: 991px) {
	.app-image {
		width:100%;
		display:inline-block;
	}
	.our-apps-apple-inner {
		max-height:762px;
	}
	.our-apps-apple-section, .our-apps-android-section, .our-apps-windows-section, .our-apps-tablets-section {
		text-align:center;
	}
	.our-apps-apple-section h3 {
		margin-top:70px;
	}
	.our-apps-apple-section .btn, .our-apps-windows-section .btn {
		margin-bottom:0;
	}
	.our-apps-android-section, .our-apps-windows-section, .our-apps-tablets-section {
		max-height:none;
	}
	.our-apps-windows-section {
		padding-top:125px;
		max-height:809px;
	}
	.our-apps-windows-inner img {
		margin-top:-60px;
	}
	.our-apps-tablets-section .tablets-img img {
		margin-top:0;
		margin-bottom:100px;
	}
	.our-apps-apple-section img {
		margin-top:-100px;
	}
	.manual-desc {
		max-width:100%;
		padding:0 15px;
		text-align:center;
	}
	.manual-desc img {
		display:inline-block;
	}
	.support-manual-title {
		max-width:240px;
		margin:0 auto 50px auto;
	}
	.manual-faqs {
		padding:0 15px;
	}
	a.accordion-toggle.collapsed:after, a.accordion-toggle:after {
		right:10px !important;
	}
	.rates-details-inner .panel-group {
		width:50% !important;
	}
	#features {
		background-image:none !important;
	}
	.phone-image-right{
		margin-left:-15%;
	}
	
	#short-code #top-section-sticky-wrapper{
		height:120px;
	}	
	/* Additional Features */
	
	.features-border-top .col-md-3:after,
	.features-border-top .right-border:before{
		 width: 0px;
	}
	.features-border-top{
		border:0;
	}
	.copyright {
		padding:13px 0 13px 0;
	}
	a.scroll-to-top {
		bottom:90px;
	}
}
 @media only screen and (max-width: 1185px){	
	.benefits img{
		max-width:60%;
	}
	.features-inner .col-sm-6.no-padding {
		padding-left:15px;
		padding-right:15px;
	}
}
@media only screen and (max-width:768px){
	.nav > li > a{
		padding:10px;
	}
	.how-it-works-contents.col-first, .how-it-works-contents.col-second {
		margin-bottom:50px;
	}
	.col-first, .col-second {
		margin-bottom:35px;
	}
	.rates-search-box.search-box.opened .rate-details, .rates-dropdown .col-md-4 {
		width:324px !important;
		float:none !important;
		margin-left:auto !important;
		margin-right:auto !important;
		max-width:100%;
	}
	.rates-search-box.search-box.opened:after {
		bottom:73px;
	}
	.rates-search-box.search-box.opened:before {
		bottom:71px;
	}
	.our-support-features {
		background:url(../images/our-support-bg@2x.png) no-repeat center top #5b2558;
	}
	.our-apps-features {
		background:url(../images/our-apps@2x.png) no-repeat center top #0d335f;
	}
	.social-media {
		max-width:345px;
	}
	.app-nav {
    margin-top: 10px;
	text-align: right;
	}
	.navbar-toggle {
		top:-50px;
	}
	.logo-container {
		display:inline-block;
		text-align:left;
	}
	.is-sticky{height:118px;}
}
@media only screen and (max-width:767px) {
	.navbar{
		min-height:1px;
		position:relative;
	}
	.nav > li {
		width:100%;
		text-align:center;
	}
	.nav > li > a {
		display:inline-block;
		min-width:115px;
	}
	.nav > li.active a {
		border-radius:0 !important;
		border-width:0px 0px 1px 0px !important;
	}
	.top-container {
    padding: 10px 10px 7px !important;}
	
	.top-navbar ul.nav a {
		padding:10px 0px;
	}
	#top-section-sticky-wrapper.is-sticky .top-container {
		padding:5px 10px 0px;
	}
	#header-top #top-section-sticky-wrapper.is-sticky .top-container{
		padding:5px 10px 0px;
	}
	.navbar-toggle {
		margin-top:0;
		position:absolute;
		right:0;
		z-index:9999;
	}
	.app-nav{display:none;}
	.logo-container {
		width:100% !important;
		display:inline-block;
		text-align:left;
	}
	.top-social-media-icons{display:none;}
	.purchase-button h2{
		text-align:center;
	}
	.purchase-button .slide-btn{
		margin:0 auto;
	}
	.counting i, .counting .factor{
		padding-bottom:5%;
	}
	.team .team-box{
		 margin: 20px 0 40px 0;
	}
	.copyright h4, .copyright-social-icon{
		text-align:center;
		padding:10px 0px;
	}
	.five, .five-big{
		width: 50%;
	}
	.animated {
		visibility: visible !important;
	  	-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
		
	.triangle-right {
		top: -68px;
		border-left: 380px solid transparent;
	}
	.triangle-left {
		top: -68px;
		border-right: 380px solid transparent;
	}

	.triangle-right-light {
		border-left: 380px solid transparent;
	}
	.triangle-left-light {
		border-right: 380px solid transparent;
	}
	.app-nav {
		text-align:left;
		margin-top:4px;
	}
	.row .app-store-btns:last-child {
		margin-bottom:0 !important
	}
	.features-inner .col-sm-6.no-padding {
		padding-left:15px;
		padding-right:15px;
	}
	.app-image {
		margin-top:75px;
	}
	.header-section #sticky-section-sticky-wrapper {
		height:105px;
	}
	.top-navbar {
		position:relative;
	}
	.navbar-toggle {
		top:-58px;
	}
}
@media only screen and (max-width:640px) {
	.container.features-inner{
		padding:60px 50px;
	}
	.app-store-btns  {
		width:100% !important;
		margin-bottom:40px;
		float:none !important;
		text-align:center;
	}
	.app-store-btn {
		display:inline-block;
		float:none !important;
		margin-left:auto;
		margin-right:auto;
	}
	.pricing-tabber ul {
		margin:0 !important;
	}
	#sticky-section-sticky-wrapper .is-sticky .top-navbar{margin:0;}
	.is-sticky .is-sticky #logo {
		float:left;
	}
	.is-sticky .is-sticky .logo-container {
		display:inline-block;
	}
}
@media only screen and (max-width:480px) {

	.benefits img{
		max-width:50%;
	}
	.welcome-inner .title:before, .pricing-inner .title:before {
		margin-top: 118px !important;
	}
	.welcome-inner .title h2:after, .pricing-inner .title h2:after {
		margin-top: 69px !important;
	}
	.title:before {
		margin-top:75px;
	}
	.title h2:before {
		margin-top:78px;
	}
	.title h2:after {
		margin-top:81px;
	}
	.container.features-inner{
		padding:60px 30px;
	}		
	/* About Us */
	.about-us i{
		float:none;
		text-align:center;
		display:block;
		margin:10px auto;
	}
	.download-now .btn {
		margin: 7px 5px;
	}
	.top-social-media-icons {
		display:none;
	}
	.slider .text h2 {
		line-height:1 !important;
	}
	.slider .text {
		margin-top:80px !important;
	}
	.rates-search-box.search-box.opened {
		width:100%;
	}
	.rates-search-box.search-box.opened:after {
		bottom:130px !important;
	}
	.rates-search-box.search-box.opened:before {
		bottom:128px !important;
	}
	.rates-features {
		max-height:630px;
		min-height:630px;
	}
	.container.features-inner, .container.how-it-works-inner {
		padding-top:40px;
	}
}
@media only screen and (max-width:380px) {
	.triangle-right {
		top: -68px;
		border-left: 300px solid transparent;
	}
	.triangle-left {
		top: -68px;
		border-right: 300px solid transparent;
	}

	.triangle-right-light {
		border-left: 300px solid transparent;
	}
	.triangle-left-light {
		border-right: 300px solid transparent;
	}
}
@media only screen and (max-width:360px) {
	/* Feature */
	.container.features-inner{
		padding:60px 15px;
	}
	.title{
		font-size:41px;
	}
	.desc, .desc.white {
		margin-top:50px;
		line-height:1.4;
	}
	.our-apps-tablets-section {
		padding:0 !important;
	}
	
}
@media only screen and (max-width:320px) {					
	#logo, #logo a {
		background-position:1px -210px;
		height: 77px;
		width: 191px;
	}
	.app-nav {
		text-align:center;
		margin-top:10px;
	}
}
@media only screen and (max-width:740px) and (min-width:486px) {
	.logo-container {
		width:100% !important;
		display:inline-block;
		text-align:left;
	}
	#navigation {
		width:100% !important;
	}
	#logo {
		float:left;
	}
	.app-nav {
		margin-top:20px;
	}
	.top-social-media-icons ul {
	}
	.top-social-media-icons ul {
		float:left;
		margin-left:30px;
	}
	#navigation {
		width:100%;
	}
	.top-social-media-icons {
		float: left;
		margin-top: 10px;
		width: 245px;
	}
}

@media only screen and (min-width:986px) and (max-width:767px) {
	.logo-container, #navigation {
		float:left;
		width:50%;
	}
	#logo {
		float:left;
	}
}
@media only screen and (max-width:999px) {
	#logo, #sticky-section-sticky-wrapper .is-sticky #logo {
		background-image:url(../images/logo@2x.png);
		background-position:left top;
		background-size:cover;
	}
	#logo, #logo a, #sticky-section-sticky-wrapper .is-sticky #logo, #sticky-section-sticky-wrapper .is-sticky #logo a {
		height: 80px;
		width: 191px;
	}
	.app-nav {
		text-align:center;
	}
	.copyright p {
		text-align:center;
	}
				
}
@media only screen and (min-width:990px) {
	.app-nav {
		width:46%;
		text-align:center;
	}
}

@media only screen and (max-width:485px) and (min-width:389px)
{
	.logo-container {
		width:100%;
		display:inline-block;
	}
	#logo {
		float:left;
	}
	.app-nav {
		margin-top:20px;
	}
	.top-social-media-icons ul {
	}
	.top-social-media-icons ul {
		float:left;
		margin-left:30px;
	}
}
@media only screen and (max-width:388px) {
	
	.top-social-media-icons ul {
		margin:5px auto;
		padding:0;
		width:170px;
		float:none;
	}
	.navbar-toggle {
		margin-right: 0;
		margin-top: -10px;
		position: absolute;
		right: 0;
		z-index: 9999;
	}
	.is-sticky .is-sticky .app-nav {
		display:none;
	}
	
}
@media only screen and (max-width:490px) {
	.title h2 {
		/*font-size: 40px;
		font-weight: 500;*/
		margin-bottom:0;
		/* padding-bottom:0; */
	}
	.title h2 span {
		/*font-weight:200;*/
	}
}
@media only screen and (max-width:946px) {
	.countries-auto-complete .dropdown {
		margin-left:0;
	}
}
@media only screen and (max-width: 1049px){
	.search-box .input-container {
		width: 100%;
		display:block;
		float:none;
		clear:both;
	}
	.countries-auto-complete .dropdown, .countries-auto-complete .btn-green {
		width:45%;
	}
	.search-btns {
		display: block;
		width:100%;
		float:none !important;
		clear:both;
		text-align:center;
		margin-top:10px;
	}
	.search-btns .btn, .search-btns .dropdown {
		float:none;
	}
	.app-store-btns {
		width:33%;
		float:left;
	}
	.app-store-btns .app-store-btn {
		margin-left:auto;
		margin-right:auto;
	}
}
@media only screen and (max-width:720px) {
	.plan-tab-nav, .plan-tab-nav:hover, .plan-tab-nav:focus {
		margin-left: -4px;
	}
	.tab-nav-links a.active:after,
	.plan-a:hover:after,
	.plan-b:hover:after, .plan-b.active:after,
	.plan-c:hover:after, .plan-c.active:after,
	.plan-d:hover:after, .plan-d.active:after,
	.plan-e:hover:after, .plan-e.active:after {
		border-width:13px;
	}
}
@media only screen and (max-width:488px) {
	.welcome-inner .title:before {
		margin-top: 118px !important;
	}
	.welcome-inner .title h2:after {
		margin-top: 69px !important;
	}
}
@media only screen and (max-width:565px) {
	.pricing-inner .title:before {
		margin-top: 118px !important;
	}
	.pricing-inner .title h2:before {
		margin-top: 121px !important;
	}
	.pricing-inner .title h2:after {
		margin-top: 69px !important;
	}
}
@media only screen and (max-width:991px) and (min-width:947px) {}
@media only screen and (max-width:1107px) {
	.rates-details-inner .panel-group {
		width:25%;
	}
	.rates-details-inner .panel-group:first-child, .rates-details-inner .panel-group:nth-child(3n) {
		padding:0 7.5px 0 15px;
	}
	.rates-details-inner .panel-group:nth-child(4n), .rates-details-inner .panel-group:nth-child(2n) {
		padding:0 15px 0 7.5px;
	}
	.rates-features {
		max-height:600px;
		min-height:600px;
	}
}
@media only screen and (max-width:558px) {
	.rates-details-inner .panel-group {
		width:100% !important;
		padding-left:10px !important;
	}
}
@media only screen and (max-width:1165px) {
	.rates-search-box.search-box.opened .rate-details:first-child {
	}
	.rates-search-box.search-box.opened .rate-details, .rates-dropdown .col-md-4 {
		width:32%;
		float:left;
	}
}
@media only screen and (max-width:1153px) {
	.rates-search-box.search-box.opened:after {
		bottom:72px;
	}
	.rates-search-box.search-box.opened:before {
		bottom:69px;
	}
}
@media only screen and (max-width:1170px) {
	.rates-search-box.search-box.opened {
		width:100%;
	}
}
@media only screen and (max-width:890px) {
	.promoted-destinations-lg {
		display:none;
	}
	.promoted-destinations-sm {
		display:block;
	}
}
@media only screen and (max-width:558px) {
	.rates-details-inner .panel-group, .rates-details-inner .panel-group:first-child, .rates-details-inner .panel-group:nth-child(3n) {
		padding:0 15px 0 15px !important;
	}
}
@media only screen and (max-width:340px) {
	.is-sticky .is-sticky #logo {
		float:left;
	}
	.is-sticky .is-sticky .logo-container {
		display:inline-block;
	}
	section#home {
		background-position:center top;
		background-size: cover;
	}
}
@media only screen and (max-width:355px) {
	a#promoted-destinations-link i {
		display:none;
	}
}
@media only screen and (max-width:310px) {
	a.get-started-btn {
		display: inline-block;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
	.title:before {
		margin-top: 118px !important;
	}
	.title h2:before {
		margin-top: 121px !important;
	}
	.title h2:after {
		margin-top: 69px !important;
	}
}

/**
======================================================================
CUSTOM CSS (FIXES)
======================================================================
**/

@media only screen and (max-width:991px) {

	.accepted-cards,
	.footer-social-icons { margin-top: 30px; }

	.social-media { text-align: left; }	

	.fa-facebook:before,
	.fa-linkedin:before,
	.fa-twitter:before,
	.fa-google-plus:before,
	.fa-xing:before { padding-left: 20px; }

	div.second-silde-bg { background-attachment: initial; }  

}

@media only screen and (max-width:768px) {
	.upcoming-events,
	#footer-widgets .upcoming-events h3 { text-align: center; }

	#footer-widgets .upcoming-events h3 { padding-left: 0; }
	
	.upcoming-events ul { padding-left: 0; }
	.social-media { max-width: 100%; }

	.accepted-cards,
	.footer-social-icons,
	.social-media { text-align: center; }

	.fa-facebook:before,
	.fa-linkedin:before,
	.fa-twitter:before,
	.fa-google-plus:before,
	.fa-xing:before { padding-left: 0; }

}

@media only screen and (max-width:640px) {
	.social-media {
		margin: 0;
		width: 100%;
	}

}

@media only screen and (max-width:380px) {
	.social-media i {
		line-height: 43px;
		height: 40px;
		width: 40px;
	}
}

@media only screen and (max-width:320px) {}


/* Login & Signup Panels Adding scrollbars */
@media only screen and (max-height: 700px) {
    .form-section-inner{
        max-height: none;
    	overflow: none;	
    }
}
@media only screen and (max-height: 650px) {
	.form-section-inner{
		max-height: 400px;
    	overflow-y: auto;
	}
}
@media only screen and (max-height: 600px) {
	.form-section-inner{
		max-height: 350px;
    	overflow-y: auto;
	}
}
@media only screen and (max-height: 550px) {
	.form-section-inner{
		max-height: 300px;
    	overflow-y: auto;
	}
}
@media only screen and (max-height: 500px) {
	.form-section-inner{
		max-height: 250px;
    	overflow-y: auto;
	}
}
@media only screen and (max-height: 445px) {
	.form-section-inner{
		max-height: 200px;
    	overflow-y: auto;
	}
}
@media only screen and (max-height: 400px) {
	.form-section-inner{
		max-height: 150px;
    	overflow-y: auto;
	}
}
@media only screen and (max-height: 350px) {
	.form-section-inner{
		max-height: 100px;
    	overflow-y: auto;
	}
}
