.red{
    color: #D9534F;
}
.red-box{
    border-bottom: 1px solid #D9534F;
}
.red-background{
    background: #D9534F;
}
.orange {
    color: #F0AD4E;
}
.orange-flip{
    transform: rotate(30deg);
}
.orange-box{
    border-bottom: 1px solid #F0AD4E;
}
.orange-background{
    background: #F0AD4E;
}
.yellow{
    color: #F5E348;
}
.yellow-box{ 
    border-bottom: 1px solid #F5E348;
}
.yellow-background{
    background: #F5E348;
}
.yellow-flip {
    transform: rotate(45deg);
}
.green{
    color: #449D44;
}
.green-background{
    background: #449D44;
}
.green-box{
    border-bottom: 1px solid #449D44;
}
.blue{
    color: #5BC0DE;
}
.blue-background{
    background: #5BC0DE;
}
.blue-box{
    border-bottom: 1px solid #5BC0DE;
}
.white-text{
    color: #FFFFFF;
}
.submit-requirement{
    margin-top: 15px;
}